@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'JetBrainsMono';
    src: url(/fonts/JetBrainsMono-Bold.woff2) format('woff2');
  }
  :root {
    --radius: 0.5rem;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}